[run]
branch = True
source = uni_scraper

omit = uni_scraper/_abstract.py
       uni_scraper/__init__.py
       uni_scraper/__version__.py

[report]
exclude_lines =
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AttributeError
    raise NotImplementedError
    except Exception as e

ignore_errors = True