[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
webdriver-manager = "*"

[requires]
python_version = "3.7"

[dev-packages]
twine = "*"
flake8 = "*"
setuptools = "*"
wheel = "*"
